name: Welcome First PR

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write # Cấp quyền ghi comment vào PR

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - name: Welcome First-time Contributor
        uses: actions/first-interaction@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          pr-message: |
            Xin chào! Cảm ơn bạn đã gửi Pull Request đầu tiên cho dự án.
            Chúng tôi sẽ xem xét và phản hồi sớm nhất có thể!
            Trong lúc chờ đợi, hãy kiểm tra lại các test case nhé.